.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.logo img {
  width: 500px;
  height: 50px;
}
.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #777;
  font-size: 20px;
  align-items: center;
}

.nav a:hover {
  color: #000;
}
